@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@import 'base/vars';

.cont {
    width: 1140px;
    margin: 0 auto;
}

.cont-promo {
    width: 1140px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

@import 'blocks/upheader';
@import 'blocks/promo';