@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@import 'base/vars';

.cont {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/upheader';
@import 'blocks/promo';
@import 'blocks/modules';
@import 'blocks/industry';
@import 'blocks/reasons';
@import 'blocks/shadow';
@import 'blocks/varios';
@import 'blocks/start';
@import 'blocks/footer';
@import 'blocks/btn';

/////////////////////////////////////


@import 'media/upheader-media';
@import 'media/cont-media';
@import 'media/promo-media';
@import 'media/modules-media';
@import 'media/industry-media';