.industry {
    height: 890px;
    padding: 72px 0 61px 0;
    background: url('../../img/indImg.jpg') no-repeat 50%/cover;
    position: relative;
    
    &__wrapp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 10;
        position: relative;
    }
    &__head {
        font-weight: 900;
        font-size: 30px;
        color: #fff;
        line-height: 36px;
        text-align: center;
    }
    &__tabs {
        width: 843px;
        height: 64px;
        border: 1px solid #ffffff;
        display: flex;
        border-radius: 10px;
        justify-content: space-around;
        align-items: center;
        margin: 23px auto 0px auto; 
        list-style-type: none;
        padding: 0px 18px 0px 17px;
    }
    &__tab {
        font-size: 14px;
        line-height: 25px;
        font-weight: 400;
        color: #ffffff;
        padding-right: 25px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 50px;
            background-color: #fff;      
            top: -50%;
            left: 100%;
        }
        &:last-child {
            &::before {
                content: '';
                width: 0px;
                height: 0px;
            }
        }
        &_active {
            font-weight: 700;
            color: $main-color;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 17px;
                height: 22px;
                background: url('../../icons/ruka.png');
                top: 50%;
                right: 32%;
            }
        }
    }
    &__slider {
        margin: 70px auto 0px auto;
        display: grid;
        grid-template-columns: 18px 947px 18px;
        column-gap: 30px;
        align-items: center;
    }
    &__wrappImg {
        width: 947px;
        position: relative;
        height: 560px;
        background: url('../../img/macbook_air_290.png');
        display: flex;
        justify-content: center;
        img {
           position:absolute; 
           bottom: 63px;
        }
    }
 }