.promo {
    background: url('../../img/rectangle_10_166.jpg') no-repeat 50%/cover;
    padding-top:40px;
    height: 700px;
    position: relative;
    &__header {
        display: grid;
        grid-template-columns: 140px 566px;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        z-index: 9;
    }
    &__nav {
        padding-left: 25px;
        max-width: 566px;
        z-index: 10;
        ul {
            display: grid;
            grid-template-columns: repeat(5, minmax(40px, auto));
            li {
                list-style-type: none;
                a {
                    font-size: 13px;
                    line-height: 26px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }
    }
    &__descr {
        position: relative;
        margin-top: 135px;
        text-align: left;
        z-index: 9;
    }
    &__title {
        font-size: 42px;
        line-height: 48px;
        font-weight: 900;
        color: #ffffff;
    }
    &__subtitle {
        margin-top: 20px;
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        color: #ffffff;
        span {
            font-weight: 400;
        }
    }
    &__smartphone1 {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 9;
    }
    &__smartphone2 {
        position: absolute;
        bottom: 0;
        right: 130px;
        z-index: 8;
    }
}
