.promo {
    background: url('../../img/rectangle_10_166.jpg') no-repeat 50%/cover;
    padding-top:40px;
    height: 700px;
    position: relative;
    &__header {
        display: grid;
        grid-template-columns: 140px 566px;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        z-index: 9;
    }
    &__nav {
        padding-left: 25px;
        max-width: 566px;
        z-index: 10;
        ul {
            display: grid;
            grid-template-columns: repeat(5, minmax(40px, auto));
            li {
                list-style-type: none;
                a {
                    font-size: 13px;
                    line-height: 26px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }
    }
    &__descr {
        position: relative;
        margin-top: 135px;
        text-align: left;
        z-index: 9;
    }
    &__title {
        font-size: 42px;
        line-height: 48px;
        font-weight: 900;
        color: #ffffff;
    }
    &__subtitle {
        margin-top: 20px;
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        color: #ffffff;
        span {
            font-weight: 400;
        }
    }
    &__btn {
        margin-top: 30px;
        width: 240px;
        height: 60px;
        background-color: #00c2f0;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.07);
        border: none;
        border-radius: 10px;
        font-size: 16px;
        line-height: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__smartphone1 {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 9;
    }
    &__smartphone2 {
        position: absolute;
        bottom: 0;
        right: 130px;
        z-index: 8;
    }
}
.shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}