.data {
    position: relative;
    &__wrapp {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: minmax(580px, auto);
        &-descr {
            width: 100%;
            margin-top: 20px;
            font-size: 18px;
            line-height: 26px;
            font-weight: 300;
            color: #ffffff;
        }
        &-header {
            font-size: 30px;
            line-height: 22px;
            font-weight: 900;
            text-transform: uppercase;
            color: #ffffff;    
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 167px;
                height: 167px;
                background-color: rgb(0, 194, 240, 0.3);
                top: -30px;
                right: -4%;
                z-index: -1;
            } 
            &_left {
                &::before {
                    content: '';
                    position: absolute;
                    width: 167px;
                    height: 167px;
                    background-color: rgb(0, 194, 240, 0.3);
                    top: -30px;
                    left: -4%;
                    z-index: -1;
                }
            }      
        }
    }
    &__head {
        position: absolute;
        font-size: 30px;
        line-height: 35px;
        font-weight: 900;
        color: #ffffff;
        z-index: 2;
        width: 100%;
        text-align: center;
        margin-top: 79px;
    }
    &__cloud, &__server {
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text1 {
        text-align: right;
        z-index: 12;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
    }
    &__text2 {
        text-align: left;
        margin-left: 80px;
        z-index: 13;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}