@media (max-width: 1200px) {
    .industry {
        margin-top: 400px;
        &__slider {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 460px 59px;
            row-gap: 20px;
        }
    }
    .mainImg {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .next, .prev {
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .industry {
        margin-top: 0px;
        &__tabs {
            width: 100%;
            padding: 0 0 0 10px;
        }
        &__tab {
            padding-right: 15px;
        }
        &__slider {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .industry {
        height: 700px;
        &__head {
            font-size: 25px;
            line-height: 30px;
        }
        &__tab {
            padding-right: 10px;
            font-size: 12px;
            &::before {
                height: 47px;
            }
        }
        &__slider {
            margin-top: 0px;
            row-gap: 0px;
        }
        .mainImg {
            width: 100%;
        }
    }
}

@media (max-width: 576px) {
    .industry {
        height: 600px;
        padding: 30px 0px;
        &__head {
            font-size: 18px;
            line-height: 20px;
        }
        &__tabs {
            width: calc(100% - 5px);
            padding: 0;
        }
        &__tab {
            padding-right: 10px;
            line-height: 12px;
            font-size: 10px;
            text-align: center;
            &::before {
                left: 90%;
                height: 40px;
            }
        }
        &__slider {
            grid-template-rows: 252px 100px;
            row-gap: 0px;
            margin-top: 30px;
        }
        .mainImg {
            width: 90%;
            margin: 0 auto;
        }
    }
}