@media (max-width: 1200px) {
    .promo {
        padding-top:30px;
        height: 680px;
        overflow: hidden;
        &__nav {
            width: 550px;
        }
        &__wrapp {
            margin-top: 120px;
            grid-template-columns: 500px 400px;
            grid-template-rows: 282px 210px;
        }
        &__title {
            font-size: 38px;
            line-height: 45px;
        }
        &__subtitle {
            margin-top: 15px;
            font-size: 23px;
            line-height: 28px;
        }
        &__smartphone1 {
            height: 550px;
            &-wrappForImg {
                margin-right: -6px;
            }
        }
        &__smartphone2 {
            height: 490px;
        }
    }
}

@media (max-width: 992px) {
    .promo {
        height: 650px;
        &__nav {
            width: 470px;
        }
        &__wrapp {
            grid-template-columns: 1fr;
        }
        &__phones {
            display: none;
        }
        &__descr {
            text-align: center;
        }
        &__title {
            font-size: 40px;
            line-height: 50px
        }
        &__subtitle {
            margin-top: 20px;
            font-size: 26px;
            line-height: 30px;
        }
    }
}

@media (max-width: 768px) {
    .promo {
        &__header {
            flex-direction: column;
        }
        &__nav {
            width: 480px;
            margin-top: 20px;
        }
        &__wrapp {
            margin-top: 80px;
        }
        &__title {
            font-size: 38px;
        }
        &__subtitle {
            font-size: 24px;
        }
    }
}

@media (max-width: 576px) {
    .promo {
        &__nav {
            text-align: center;
            width: 320px;
            margin-top: 20px;
            padding-left: 0px;
            ul {
                flex-direction: column;
            }
        }
        &__wrapp {
            margin-top: 40px;
        }
        &__title {
            font-size: 25px;
        }
        &__subtitle {
            font-size: 18px;
        }
    }
}